html,
body,
#app {
  @apply h-full m-0 p-0 text-32px transition-colors;

  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: var(--font-family);
}

:root {
  scroll-behavior: smooth;
}

#app {
  @apply antialiased;
}
