:root {
  --c-brand: #3eaf7c;

  --c-bg: #f3f4f6;
  --c-bg-mask: rgba(0, 0, 0, 0.65);
  --c-bg-card: #fff;
  --c-bg-navbar: var(--c-bg-card);

  // font
  --c-text: #2c3e50;
  --c-icon: #999;

  // border
  --c-border: #eaecef;

  // navbar
  --navbar-height: 44px;

  // font vars
  --font-family: -apple-system, BlinkMackSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
